<div style="text-align:center">
  <h1>
    Angular RESTful API Example
  </h1>
</div>
<div>
  <table class="table table-bordered table-hover" 
  style="width: 50%;text-align: center;margin-left: auto;margin-right: auto;">
    <thead class="thead" style="text-align: center;">
    <tr>
      <th scope="col" style="text-align: center;" colspan="7">Pokedex</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td scope="col" style="text-align: center;">#</td>
          <td scope="col" style="text-align: center;">Name</td>
          <td scope="col" style="text-align: center;">Type</td>
          <td scope="col" style="text-align: center;">Height</td>
          <td scope="col" style="text-align: center;">Weight</td>
          <td scope="col" style="text-align: center;">Weaknesses</td>
          <td scope="col" style="text-align: center;">Portrait</td>
        </tr>
    <tr *ngFor="let poke of pokemon">
      <td>{{ poke.id }}</td>
      <td>{{ poke.name }}</td>
      <td>{{ poke.type }}</td>
      <td>{{ poke.height }}</td>
      <td>{{ poke.weight}}</td>
      <td>{{ poke.weaknesses }}</td>
      <td><img src="../assets/images/{{poke.id}}.png"></td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
<router-outlet></router-outlet>
