<div style="text-align:center">
  <h1>
    Angular RESTful API Example
  </h1>
</div>
<div>
  <table class="table table-bordered table-hover" 
  style="width: 50%;text-align: center;margin-left: auto;margin-right: auto;">
    <thead class="thead" style="text-align: center;">
    <tr>
      <th scope="col" style="text-align: center;">Season 1</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sea of seasons">
      <td *ngIf="sea.season === 1">Episode:{{ sea.episode }} {{ sea.title }}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-bordered table-hover" 
  style="width: 50%;text-align: center;margin-left: auto;margin-right: auto;">
    <thead class="thead" style="text-align: center;">
    <tr>
      <th scope="col" style="text-align: center;">Season 2</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sea of seasons">
      <td *ngIf="sea.season === 2">Episode:{{ sea.episode }} {{ sea.title }}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-bordered table-hover" 
  style="width: 50%;text-align: center;margin-left: auto;margin-right: auto;">
    <thead class="thead" style="text-align: center;">
    <tr>
      <th scope="col" style="text-align: center;">Season 3</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sea of seasons">
      <td *ngIf="sea.season === 3">Episode:{{ sea.episode }} {{ sea.title }}</td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
<router-outlet></router-outlet>
